html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: block;
  text-align: center;
  background-color: #d05c2e;
  color: #fff;
}

body {
  margin: 0;
}
